<div class="leaves-background">
    <div class="parkIndex">
        <ul>
            <li><a href="/admin/dinosaurs"><img src="/images/dinosaur_btn.png"></a></li>
            <li><a href="/admin/paddocks"><img src="/images/paddock_btn.png"></a></li>
        </ul>
    </div>
</div>
