
<div class = paddocks>
    <ul>
        #foreach ($paddock in $paddocks)
        <li><a href="/park/paddocks/$paddock.getId()" class="button center">Click $paddock.getName()</a></li>
        #end
    </ul>
</div>