
<div class = paddocks>
#foreach ($paddock in $paddocks)
    <ul>
        <li><a href="/admin/paddocks/$paddock.getId()" class="button center"><img src="images/paddock_Btn.png"></a></li>
    </ul>
    #end
</div>