
    #if($paddock.getDietaryType() == $herbivore)

        <h1>Welcome to <span>$herbivoreString</span> paddock!</h1>
        <p>$randomInfoHerbivore.getText()</p>
    #else
        <h1>Welcome to <span>$paddock.getDinosaurType().getName()</span> paddock!</h1>
        <!--<p>$randomInfoOnSpecies.getText()</p>-->
    #end

