<div class="map">
    #foreach ($paddock in $paddocks)
    <div class="location$foreach.count">
        <a href="/park/visits/$visitor.getId()/paddocks/$paddock.getId()" class="button center"><img src="/images/create_paddock_btn.png"></a>
    </div>
    #end
</div>

