<div class="blurry-image"></div>
    <div class="message-invalid-paddock">
        <p>Invalid paddock for this dinosaur. You don't want your dinosaurs to eat each other, do you?</p>
        <a href="/admin/dinosaurs/$dinosaur.getId()/edit"><img src="/images/go_back_btn.png"></a>

    </div>
    <!--<meta http-equiv="refresh" content="3;url=/admin/dinosaurs/$dinosaur.getId()/edit" />-->
