<form class="form-container" action="/visitors/login" method="post">
    <label for="username" id="username">Username</label>
    <input type="text" name="username" required>
    <input class="loginBtn" type="image" id="image" alt="Login" src="/images/login_btn.png"/>
</form>