<div class="blurry-image"></div>
<form class="form-container small-form" action="/visitors/login" method="post">
    <label for="username" id="username">Username</label>
    <input type="text" placeholder="Enter Username..." name="username" required>
    <input class="loginBtn" type="image" id="image" alt="Login" src="/images/login_btn.png"/>
</form>
