<form action="/visitors" method="post">
    <label for="name" id="name">Name</label>
    <input type="text" name="name" required>
    <label for="username" id="username">Username</label>
    <input type="text" name="username" required>
    <label for="email" id="email">Username</label>
    <input type="text" name="email" required>
    <input type="submit" value="Create">
</form>