<table>
    <tr>
        <th>Name</th>
        <td>$visitor.getName()</td>
    </tr>
    <tr>
        <th>Username</th>
        <td>$visitor.getUsername()</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>$visitor.getEmail()</td>
    </tr>
</table>