<div class="blurry-image"></div>
<div class="message">
    <p>Sorry, this user has been already taken, try again.</p>
    <a href="/visitors/new">Try again</a>
    <meta http-equiv="refresh" content="3;url=/visitors/new" />
</div>
