<p>Invalid paddock for this dinosaur. You don't want your dinosaurs to eat each other, do you?</p>
<a href="/dinosaurs/$dinosaur.getId()/edit">Go back</a>
<meta http-equiv="refresh" content="3;url=/dinosaurs/$dinosaur.getId()/edit" />