<form action="/dinosaurs" method="post">

    <select name="species" id="species">
        #foreach($dinosaurType in $dinosaurTypes)
        <option value="$dinosaurType">$dinosaurType.getName()</option>
        #end
    </select>

    <select name="paddock" id="paddock">
        #foreach($paddock in $paddocks)
        <option value="$paddock.getId()">$paddock.getName()</option>
        #end
    </select>


    <input type="submit" value="Create">
</form>