<p class="pageHeader">$dinosaur.getSpecies().getName()</p>

<table>
    <tr>
        <th>Age</th>
        <th>Diet</th>
        <th>Hunger Level</th>
    </tr>
    <tr>
        <td>$dinosaur.displayMaturityLevel()</td>
        <td>$dinosaur.getSpecies().getDietaryType().getDiet()</td>
        <td>$dinosaur.getHungerLevel().getHumanReadable()</td>
    </tr>
</table>
<a href="/dinosaurs">Go Back</a>