<div class="leaves-background">
    <div class="logo">
        <img src="/images/logo.png" alt="Welcome to Not-Jurassic Park">
    </div>

    <div class="buttons">
        <ul>
            <li><a href="/visitors/new"><img src="/images/visitor_btn.png"></a></li>
            <li><a href="/admin"><img src="/images/admin_btn.png"></a></li>
        </ul>
    </div>
</div>

